@model SewaPatra.Models.Login

@{
    ViewBag.Title = "Chnage Password";
}
@if (TempData["Message"] != null)
{
    <div id="toastMessage" class="custom-toast">
        <i class="bi bi-check-circle-fill me-2"></i>@TempData["Message"]
    </div>
}
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="pagetitle mt-2">
                        <h1>Change Password</h1>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Account</li>
                                <li class="breadcrumb-item">Change Passsword</li>
                            </ol>
                        </nav>
                    </div>
                    <hr />
                    <!-- Vertical Form -->
                    <form class="col g-3" method="post" asp-controller="Account" asp-action="ChangePassword">
                        <input type="hidden" asp-for="Number" value="@Context.Session.GetString("Number")" />
                        <div class="col-3">
                            <label asp-for="Password" class="form-label">Old Password</label>
                            <input type="text" class="form-control" asp-for="Password" id="oldpassword" required>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label asp-for="NewPassword" class="form-label">New Password</label>
                            <input type="password" class="form-control" asp-for="NewPassword" id="NewPassword" required>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword" id="ConfirmPassword">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="text-Left mt-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a href="~/Home/Index" class="btn btn-primary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>