@model SewaPatra.Models.ReceiptVoucher;

@{
    ViewBag.Title = "Edit Receipt Voucher";
}
@if (TempData["Message"] != null)
{
    <div id="toastMessage" class="custom-toast">
        <i class="bi bi-check-circle-fill me-2"></i>@TempData["Message"]
    </div>
}
<div class="card-body">
    <div class="pagetitle mt-2">
        <h1>Receipt Voucher</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Entry</li>
                <li class="breadcrumb-item">Edit Receipt Voucher</li>
                @* <li class="breadcrumb-item active">Add Area</li> *@
            </ol>
        </nav>
    </div>
    <!-- Vertical Form -->
    <form method="post" asp-action="EditReceiptVoucher" asp-controller="Entry">
        <div class="row mb-2">
            <label asp-for="R_TranId" style="font-size: 13px;" class="col-sm-2 col-form-label">Transaction Id</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" style="font-size: 10px;" asp-for="R_TranId" id="TranId" required>
            </div>
            <label asp-for="Date" style="font-size: 13px;" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" style="font-size: 10px;" asp-for="Date" id="Date">
            </div>
        </div>
        <div class="row mb-2">
            <label asp-for="Sewapatra_No" style="font-size: 13px;" class="col-sm-2 col-form-label">Donation Box</label>
            <div class="col-sm-4">
                <select asp-for="Sewapatra_No" asp-items="@ViewBag.DonationBoxes" style="font-size: 10px;" class="form-select" aria-label="Select Sewapatra No">
                </select>
            </div>
            <label asp-for="Amount" style="font-size: 13px;" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" style="font-size: 10px;" asp-for="Amount" id="amount">
            </div>
        </div>
        <div class="row mb-2">
            <label asp-for="Donor" style="font-size: 13px;" class="col-sm-2 col-form-label">Donor</label>
            <div class="col-sm-4">
                <select asp-for="Donor" asp-items="@ViewBag.Donors" style="font-size: 10px;" class="form-select" aria-label="Select Donor">
                </select>
            </div>
            <label asp-for="Coordinator" style="font-size: 13px;" class="col-sm-2 col-form-label">Coordinator</label>
            <div class="col-sm-4">
                <select asp-for="Coordinator" asp-items="@ViewBag.Coordinators" style="font-size: 10px;" class="form-select" aria-label="Select Coordinator">
                </select>
            </div>
        </div>
        <div class="row mb-2">
            @* <label asp-for="Recurring" style="font-size: 13px;" class="col-sm-2 col-form-label">Recurring</label>
            <div class="col-sm-4">
                <select asp-for="Recurring" style="font-size: 10px;" class="form-select" aria-label="Select Recurring Date">
                    <option selected>Select Recurring Type</option>
                    <option value="yearly">Yearly</option>
                    <option value="halfyearly">Half Yearly</option>
                    <option value="quaterly">Quaterly</option>
                </select>
            </div> *@
            <label asp-for="Next_DueDate" style="font-size: 13px;" class="col-sm-2 col-form-label">Next Due Date</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" style="font-size: 10px;" asp-for="Next_DueDate" id="Next_DueDate">
            </div>
        </div>
        @* <div class="row mb-2">

        </div> *@
        <div class="row mb-2">
            <label asp-for="Remarks" style="font-size: 13px;" class="col-sm-2 col-form-label">Remarks</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" style="font-size: 10px;" asp-for="Remarks" id="remarks">
            </div>
        </div>
        <div class="text-Left">
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="~/Entry/ReceiptVoucherList" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>