@model SewaPatra.Models.Coordinator;

@{
    ViewBag.Title = "Add Coordinator";
}
@if (TempData["Message"] != null)
{
    <div id="toastMessage" class="custom-toast">
        <i class="bi bi-check-circle-fill me-2"></i>@TempData["Message"]
    </div>
}
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="pagetitle mt-2">
                        <h1>Add Coordinator</h1>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Master</li>
                                <li class="breadcrumb-item">Coordinator</li>
                                <li class="breadcrumb-item active">Add Coordinator</li>
                            </ol>
                        </nav>
                    </div>
                    <hr />
                    <form class="row g-3" method="post" asp-action="Coordinator" asp-controller="Master">
                        <!-- Name -->
                        <div class="col-md-3">
                            <label asp-for="Name" class="form-label">Name</label>
                            <input type="text" class="form-control" asp-for="Name" name="Name" required>
                        </div>

                        <!-- Address -->
                        <div class="col-md-3">
                            <label asp-for="Address" class="form-label">Address</label>
                            <input type="text" class="form-control" asp-for="Address" name="Address">
                        </div>

                        <!-- Email -->
                        <div class="col-md-4">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input type="email" class="form-control" asp-for="Email" name="Email">
                        </div>

                        <!-- Mobile No -->
                        <div class="col-md-3">
                            <label asp-for="Mobile_No" class="form-label">Mobile No</label>
                            <input type="text" class="form-control" asp-for="Mobile_No" name="Mobile_No">
                        </div>

                        <!-- Alternate Mobile No -->
                        <div class="col-md-3">
                            <label asp-for="Alternate_Mobile_No" class="form-label">Alternate Mobile No</label>
                            <input type="text" class="form-control" asp-for="Alternate_Mobile_No" name="Alternate_Mobile_No">
                        </div>

                        <!-- City -->
                        <div class="col-md-3">
                            <label asp-for="City" class="form-label">City</label>
                            <input type="text" class="form-control" asp-for="City" name="City">
                        </div>
                        <div class="col-md-1"></div>
                        <!-- Area Under -->
                        <div class="col-md-3">
                            <label asp-for="Area_Under" class="form-label">Area</label>
                            <select asp-for="Area_Under" asp-items="@ViewBag.Areas" class="form-select"></select>
                            <span asp-validation-for="Area_Under" class="text-danger"></span>
                        </div>

                        <!-- Report To -->
                        <div class="col-md-3">
                            <label asp-for="Report_to" class="form-label">Reports To</label>
                            <select asp-for="Report_to" asp-items="@ViewBag.Coordinators" class="form-select" aria-label="Select Coordinator">
                                <option value="">Select..</option>
                            </select>
                            <span asp-validation-for="Report_to" class="text-danger"></span>
                        </div>

                        <!-- Status -->
                        <div class="col-md-3">
                            <label asp-for="Active" class="form-label">Status</label>
                            <select class="form-select" asp-for="Active" name="Active" aria-label="Select Status">
                                <option selected>Choose Status</option>
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                            <span asp-validation-for="Area_Under" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input type="password" asp-for="Password" class="form-control" id="password">
                        </div>
                        <!-- CreatedAt -->
                        <input type="hidden" asp-for="CreatedAt" name="CreatedAt" value="@DateTime.Now" />
                        <hr />
                        <!-- Submit and Reset Buttons -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="~/Master/CoordinatorList" class="btn btn-primary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
